:root {
    --wooden: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Horror/wooden.jpg);
    --forest: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Horror/forest.jpg);
    --sweets: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Cute/sweets1.jpg);
    --bubbles: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Cute/bubbles.jpg);
    --crackle: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Minimalist/crackle.jpg);
    --sparkle: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Minimalist/sparkle.jpg);
    --rainbow: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Rainbow/rainbow-paint.jpg);
    --smoke: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Rainbow/rainbow-smoke.jpg);
    --nightsky: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Sleek/nightsky.jpg);
    --sunset: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Sleek/sunset.jpg);

    
    /* COLORS */
    --blood: #8a0303;
    --slime: #228B22;
    --gloom: #2B363B;
    --candy: #ee698e;
    --purple: #7B1E7A;
    --blue: #2176AE;
    --olive: #A6C48A;    
    --royal: #0A1045;
    --lilac: #B8AED6;
    --snow: #f4f9e9;
    
    /* FONTS */
    --scary-font: 'Metal Mania';
    --typewriter-font: 'Inconsolata';
    --funny-font: 'Balsamiq Sans';
    --curly-font: 'Pacifico';
    --old-style-font: 'Cinzel';
    --simple-font: 'Noto Sans HK';
    --funky-font: 'MuseoModerno';
    --sweet-font: 'Lobster';
}


body {

    --background-image: var(--smoke);

    --main-color: var(--blood);
  
    font-family: var(--scary-font);
}


.grid {
   
   column-count: 3;
   column-gap: 10px;
}


.img {
    
    
    border-image: var(--blood) 100;
}



.img:hover{
   animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: jump;
      animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1); 
}


@keyframes jump {
      0%   { transform: scale(1,1)      translateY(0); }
      10%  { transform: scale(1.1,.9)   translateY(0); }
      30%  { transform: scale(.9,1.1)   translateY(-100px); }
      50%  { transform: scale(1.05,.95) translateY(0); }
      57%  { transform: scale(1,1)      translateY(-7px); }
      64%  { transform: scale(1,1)      translateY(0); }
      100% { transform: scale(1,1)      translateY(0); }
  }